
/*header*/
.menu__portafolio{
    text-decoration-line: none;
}
.logo__menu{
    margin-top: 100px;
    color: #6c000a;
    text-align: center;
    font-size: 180px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
}

.sub__titulo{
    color: #6c000a;
    text-align: center;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 10px;
    
}

/*navegacion*/
.navegacion{
    display: flex;
    justify-content: space-evenly;
    
}

.navegacion li a{
    text-align: center; 
    text-decoration: none;  
}

.txt_s{
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    color: #fff4d2;
    text-transform: uppercase;
    background-color: #6c000a;
    border: none;
    border-radius: 25px;
}

.txt_p{
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    color: #fff4d2;
    text-transform: uppercase;
    background-color: #6c000a;
    border: none;
    border-radius: 25px;
}

.txt_c{
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    color: #fff4d2;
    text-transform: uppercase;
    background-color: #6b000b;
    border: none;
    border-radius: 25px;
}

.icon__sobremi{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon__portafolio{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon__contacto{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon__sobremi:hover{
    width: 210px;
    transition: all 0.5s;
}

.icon__portafolio:hover{
    width: 210px;
    transition: all 0.5s;
}

.icon__contacto:hover{
    width: 210px;
    transition: all 0.5s;
}

html{
    background: #fff4d2;
}

.derechos{
    color: #6b000b;
    margin-top: 80px;
    margin-bottom: 15px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}



@media screen and (max-width:768px) and (min-width:390px){
    .navegacion{
        display: grid;
        gap: 20px;
    }
    .logo__menu{
        margin-top: 50px;
        font-size: 110px;
    }
    .sub__titulo{
        font-size: 35px;
        margin-bottom: 50px;
    }
    .derechos{
        margin-top: 30px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:390px) {
    .navegacion{
        display: grid;
        gap: 20px;
    }
    .logo__menu{
        margin-top: 100px;
        font-size: 50px;
    }
    .sub__titulo{
        font-size: 11px;
        margin-bottom: 50px;
    }
    .derechos{
        margin-top: 40px;
        font-size: 10px;
}
.footer{
    text-align: center;
}
    
}
